#home
  .overlay
    / overylay class usage
    .container
      .col-md-8.col-md-offset-2.text-center
        %h1 School Sparrow
        %h2 You Think, We Deliver
        %p.p-cls
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
