%body
  #headerbar
    .container
      .row
        .col-xs-6.col-sm-2
          %a.shortcut-tiles.tiles-brown{:href => "#"}
            .tiles-body
              .pull-left
                %i.fa.fa-pencil
            .tiles-footer
              Create Post
        .col-xs-6.col-sm-2
          %a.shortcut-tiles.tiles-grape{:href => "#"}
            .tiles-body
              .pull-left
                %i.fa.fa-group
              .pull-right
                %span.badge 2
            .tiles-footer
              Contacts
        .col-xs-6.col-sm-2
          %a.shortcut-tiles.tiles-primary{:href => "#"}
            .tiles-body
              .pull-left
                %i.fa.fa-envelope-o
              .pull-right
                %span.badge 10
            .tiles-footer
              Messages
        .col-xs-6.col-sm-2
          %a.shortcut-tiles.tiles-inverse{:href => "#"}
            .tiles-body
              .pull-left
                %i.fa.fa-camera
              .pull-right
                %span.badge 3
            .tiles-footer
              Gallery
        .col-xs-6.col-sm-2
          %a.shortcut-tiles.tiles-midnightblue{:href => "#"}
            .tiles-body
              .pull-left
                %i.fa.fa-cog
            .tiles-footer
              Settings
        .col-xs-6.col-sm-2
          %a.shortcut-tiles.tiles-orange{:href => "#"}
            .tiles-body
              .pull-left
                %i.fa.fa-wrench
            .tiles-footer
              Plugins
  %header.navbar.navbar-inverse.navbar-fixed-top{:role => "banner"}
    %a#leftmenu-trigger.tooltips{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Toggle Sidebar"}
    %a#rightmenu-trigger.tooltips{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Toggle Infobar"}
    .navbar-header.pull-left
      %a.navbar-brand{:href => "index.htm"} Avant
    %ul.nav.navbar-nav.pull-right.toolbar
      %li.dropdown
        %a.dropdown-toggle.username{"data-toggle" => "dropdown", :href => "#"}
          %span.hidden-xs
            #{current_user.first_name}
            %i.fa.fa-caret-down
          %img{:alt => "Dangerfield", :src => "/assets/dangerfield.png"}/
        %ul.dropdown-menu.userinfo.arrow
          %li.username
            %a{:href => "#"}
              .pull-left
                %img{:alt => "Jeff Dangerfield", :src => "/assets/dangerfield.png"}/
              .pull-right
                %h5 Howdy, #{current_user.first_name}!
                %small
                  Logged in as
                  %span #{current_user.email}
          %li.userlinks
            %ul.dropdown-menu
              %li
                %a{:href => "#"}
                  Edit Profile
                  %i.pull-right.fa.fa-pencil
              %li
                %a{:href => "#"}
                  Account
                  %i.pull-right.fa.fa-cog
              %li
                %a{:href => "#"}
                  Help
                  %i.pull-right.fa.fa-question-circle
              %li.divider
              %li
                %a.text-right{:href => "#"} Sign Out
      %li.dropdown
        %a.hasnotifications.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-envelope
          %span.badge 1
        %ul.dropdown-menu.messages.arrow
          %li.dd-header
            %span You have 1 new message(s)
            %span
              %a{:href => "#"} Mark all Read
          .scrollthis
            %li
              %a.active{:href => "#"}
                %span.time 6 mins
                %img{:alt => "avatar", :src => "/assets/doyle.png"}/
                %div
                  %span.name Alan Doyle
                  %span.msg Please mail me the files by tonight.
            %li
              %a{:href => "#"}
                %span.time 12 mins
                %img{:alt => "avatar", :src => "/assets/paton.png"}/
                %div
                  %span.name Polly Paton
                  %span.msg Uploaded all the files to server. Take a look.
            %li
              %a{:href => "#"}
                %span.time 9 hrs
                %img{:alt => "avatar", :src => "/assets/corbett.png"}/
                %div
                  %span.name Simon Corbett
                  %span.msg I am signing off for today.
            %li
              %a{:href => "#"}
                %span.time 2 days
                %img{:alt => "avatar", :src => "/assets/tennant.png"}/
                %div
                  %span.name David Tennant
                  %span.msg How are you doing?
            %li
              %a{:href => "#"}
                %span.time 6 mins
                %img{:alt => "avatar", :src => "/assets/doyle.png"}/
                %div
                  %span.name Alan Doyle
                  %span.msg Please mail me the files by tonight.
            %li
              %a{:href => "#"}
                %span.time 12 mins
                %img{:alt => "avatar", :src => "/assets/paton.png"}/
                %div
                  %span.name Polly Paton
                  %span.msg Uploaded all the files to server. Take a look.
          %li.dd-footer
            %a{:href => "#"} View All Messages
      %li.dropdown
        %a.hasnotifications.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-bell
          %span.badge 3
        %ul.dropdown-menu.notifications.arrow
          %li.dd-header
            %span You have 3 new notification(s)
            %span
              %a{:href => "#"} Mark all Seen
          .scrollthis
            %li
              %a.notification-user.active{:href => "#"}
                %span.time 4 mins
                %i.fa.fa-user
                %span.msg New user Registered.
            %li
              %a.notification-danger.active{:href => "#"}
                %span.time 20 mins
                %i.fa.fa-bolt
                %span.msg CPU at 92% on server#3!
            %li
              %a.notification-success.active{:href => "#"}
                %span.time 1 hr
                %i.fa.fa-check
                %span.msg Server#1 is live.
            %li
              %a.notification-warning{:href => "#"}
                %span.time 2 hrs
                %i.fa.fa-exclamation-triangle
                %span.msg Database overloaded.
            %li
              %a.notification-order{:href => "#"}
                %span.time 10 hrs
                %i.fa.fa-shopping-cart
                %span.msg New order received.
            %li
              %a.notification-failure{:href => "#"}
                %span.time 12 hrs
                %i.fa.fa-times-circle
                %span.msg Application error!
            %li
              %a.notification-fix{:href => "#"}
                %span.time 12 hrs
                %i.fa.fa-wrench
                %span.msg Installation Succeeded.
            %li
              %a.notification-success{:href => "#"}
                %span.time 18 hrs
                %i.fa.fa-check
                %span.msg Account Created.
          %li.dd-footer
            %a{:href => "#"} View All Notifications
      %li
        %a#headerbardropdown{:href => "#"}
          %span
            %i.fa.fa-level-down
      %li.dropdown.demodrop
        %a.dropdown-toggle.tooltips{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-magic
        %ul#demo-dropdown.dropdown-menu.arrow.dropdown-menu-form
          %li
            %label.control-label{:for => "demo-header-variations"} Header Colors
            %ul#demo-header-variations.list-inline.demo-color-variation
              %li
                %a.color-black{"data-headertheme" => "header-black.css", :href => "javascript:;"}
              %li
                %a.color-dark{"data-headertheme" => "default.css", :href => "javascript:;"}
              %li
                %a.color-red{"data-headertheme" => "header-red.css", :href => "javascript:;"}
              %li
                %a.color-blue{"data-headertheme" => "header-blue.css", :href => "javascript:;"}
          %li.divider
          %li
            %label.control-label{:for => "demo-color-variations"} Sidebar Colors
            %ul#demo-color-variations.list-inline.demo-color-variation
              %li
                %a.color-lite{"data-theme" => "default.css", :href => "javascript:;"}
              %li
                %a.color-steel{"data-theme" => "sidebar-steel.css", :href => "javascript:;"}
              %li
                %a.color-lavender{"data-theme" => "sidebar-lavender.css", :href => "javascript:;"}
              %li
                %a.color-green{"data-theme" => "sidebar-green.css", :href => "javascript:;"}
          %li.divider
          %li
            %label{:for => "fixedheader"} Fixed Header
            #fixedheader{:style => "margin-top:5px;"}
  #page-container
    / BEGIN SIDEBAR
    %nav#page-leftbar{:role => "navigation"}
      / BEGIN SIDEBAR MENU
      %ul#sidebar.acc-menu
        %li#search
          %a{:href => "javascript:;"}
            %i.fa.fa-search.opacity-control
          %form
            %input.search-query{:placeholder => "Search...", :type => "text"}
              %button{:type => "submit"}
                %i.fa.fa-search
        %li.divider
        %li
          %a{:href => "index.htm"}
            %i.fa.fa-home
            %span Dashboard
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-th
            %span Layout Options
          %ul.acc-menu
            %li
              %a{:href => "layout-grid.htm"}
                %span Grids
            %li
              %a{:href => "layout-horizontal.htm"}
                %span Horizontal Navigation
            %li
              %a{:href => "layout-horizontal2.htm"}
                %span Horizontal Navigation 2
            %li
              %a{:href => "layout-fixed.htm"}
                %span Fixed Boxed Layout
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-list-ol
            %span UI Elements
            %span.badge.badge-indigo 4
          %ul.acc-menu
            %li
              %a{:href => "ui-typography.htm"} Typography
            %li
              %a{:href => "ui-buttons.htm"} Buttons
            %li
              %a{:href => "tables-basic.htm"} Tables
            %li
              %a{:href => "form-layout.htm"} Forms
            %li
              %a{:href => "ui-panels.htm"} Panels
            %li
              %a{:href => "ui-images.htm"} Images
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-tasks
            %span UI Components
            %span.badge.badge-info 12
          %ul.acc-menu
            %li
              %a{:href => "ui-tiles.htm"} Tiles
            %li
              %a{:href => "ui-modals.htm"} Modals &amp; Bootbox
            %li
              %a{:href => "ui-progressbars.htm"} Progress Bars
            %li
              %a{:href => "ui-paginations.htm"} Pagers &amp; Paginations
            %li
              %a{:href => "ui-breadcrumbs.htm"} Breadcrumbs
            %li
              %a{:href => "ui-labelsbadges.htm"} Labels &amp; Badges
            %li
              %a{:href => "ui-alerts.htm"} Alerts &amp; Notificiations
            %li
              %a{:href => "ui-sliders.htm"} Sliders &amp; Ranges
            %li
              %a{:href => "ui-tabs.htm"} Tabs &amp; Accordions
            %li
              %a{:href => "ui-carousel.htm"} Carousel
            %li
              %a{:href => "ui-nestable.htm"} Nestable Lists
            %li
              %a{:href => "ui-wells.htm"} Wells
            %li
              %a{:href => "ui-tour.htm"} Tour
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-table
            %span Advanced Tables
          %ul.acc-menu
            %li
              %a{:href => "tables-data.htm"} Data Tables
            %li
              %a{:href => "tables-responsive.htm"} Responsive Tables
            %li
              %a{:href => "tables-editable.htm"} Editable Tables
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-pencil
            %span Advanced Forms
            %span.badge.badge-primary 5
          %ul.acc-menu
            %li
              %a{:href => "form-components.htm"} Components
            %li
              %a{:href => "form-wizard.htm"} Wizards
            %li
              %a{:href => "form-validation.htm"} Validation
            %li
              %a{:href => "form-masks.htm"} Masks
            %li
              %a{:href => "form-fileupload.htm"} Multiple File Uploads
            %li
              %a{:href => "form-dropzone.htm"} Dropzone File Uploads
            %li
              %a{:href => "form-ckeditor.htm"} WYSIWYG Editor
            %li
              %a{:href => "form-xeditable.htm"} Inline Editor
            %li
              %a{:href => "form-imagecrop.htm"} Image Cropping
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-map-marker
            %span Maps
          %ul.acc-menu
            %li
              %a{:href => "maps-google.htm"} Google Maps
            %li
              %a{:href => "maps-vector.htm"} Vector Maps
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-bar-chart-o
            %span Charts
          %ul.acc-menu
            %li
              %a{:href => "charts-flot.htm"} Extensible
            %li
              %a{:href => "charts-svg.htm"} Interactive
            %li
              %a{:href => "charts-canvas.htm"} Lightweight
            %li
              %a{:href => "charts-inline.htm"} Inline
        %li
          %a{:href => "calendar.htm"}
            %i.fa.fa-calendar
            %span Calendar
        %li
          %a{:href => "gallery.htm"}
            %i.fa.fa-camera
            %span Gallery
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-flag
            %span Icons
            %span.badge.badge-orange 2
          %ul.acc-menu
            %li
              %a{:href => "icons-fontawesome.htm"} Font Awesome
            %li
              %a{:href => "icons-glyphicons.htm"} Glyphicons
        %li.divider
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-briefcase
            %span Extras
            %span.badge.badge-danger 1
          %ul.acc-menu
            %li
              %a{:href => "extras-timeline.htm"} Timeline
            %li
              %a{:href => "extras-profile.htm"} Profile
            %li
              %a{:href => "extras-inbox.htm"} Inbox
            %li
              %a{:href => "extras-search.htm"} Search Page
            %li
              %a{:href => "extras-chatroom.htm"} Chat Room
            %li
              %a{:href => "extras-invoice.htm"} Invoice
            %li
              %a{:href => "extras-registration.htm"} Registration
            %li
              %a{:href => "extras-signupform.htm"} Sign Up
            %li
              %a{:href => "extras-forgotpassword.htm"} Password Reset
            %li
              %a{:href => "extras-login.htm"} Login 1
            %li
              %a{:href => "extras-login2.htm"} Login 2
            %li
              %a{:href => "extras-404.htm"} 404 Page
            %li
              %a{:href => "extras-500.htm"} 500 Page
        %li
          %a{:href => "javascript:;"}
            %i.fa.fa-sitemap
            %span Unlimited Level Menu
          %ul.acc-menu
            %li
              %a{:href => "javascript:;"} Menu Item 1
            %li
              %a{:href => "javascript:;"} Menu Item 2
              %ul.acc-menu
                %li
                  %a{:href => "javascript:;"} Menu Item 2.1
                %li
                  %a{:href => "javascript:;"} Menu Item 2.2
                  %ul.acc-menu
                    %li
                      %a{:href => "javascript:;"} Menu Item 2.2.1
                    %li
                      %a{:href => "javascript:;"} Menu Item 2.2.2
                      %ul.acc-menu
                        %li
                          %a{:href => "javascript:;"} And deeper yet!
    / END SIDEBAR MENU
    / BEGIN RIGHTBAR
    #page-rightbar
      #chatarea
        .chatuser
          %span.pull-right Jane Smith
          %a#hidechatbtn.btn.btn-default.btn-sm
            %i.fa.fa-arrow-left
            Back
        .chathistory
          .chatmsg
            %p Hey! How's it going?
            %span.timestamp 1:20:42 PM
          .chatmsg.sent
            %p Not bad... i guess. What about you? Haven't gotten any updates from you in a long time.
            %span.timestamp 1:20:46 PM
          .chatmsg
            %p Yeah! I've been a bit busy lately. I'll get back to you soon enough.
            %span.timestamp 1:20:54 PM
          .chatmsg.sent
            %p Alright, take care then.
            %span.timestamp 1:21:01 PM
        .chatinput
          %textarea{:name => "", :rows => "2"}
      #widgetarea
        .widget
          .widget-heading
            %a{"data-target" => "#accsummary", "data-toggle" => "collapse", :href => "javascript:;"}
              %h4 Account Summary
          #accsummary.widget-body.collapse.in
            .widget-block{:style => "background: #7ccc2e; margin-top:10px;"}
              .pull-left
                %small Current Balance
                %h5 $71,182
              .pull-right
                #currentbalance
            .widget-block{:style => "background: #595f69;"}
              .pull-left
                %small Account Type
                %h5 Business Plan A
              .pull-right
                %small.text-right Monthly
                %h5
                  $19
                  %small .99
            %span.more
              %a{:href => "#"} Upgrade Account
        #chatbar.widget
          .widget-heading
            %a{"data-target" => "#chatbody", "data-toggle" => "collapse", :href => "javascript:;"}
              %h4
                Online Contacts
                %small (5)
          #chatbody.widget-body.collapse.in
            %ul.chat-users
              %li{"data-stats" => "online"}
                %a{:href => "javascript:;"}
                  %img{:alt => "", :src => "/assets/potter.png"}
                    %span Jeremy Potter
              %li{"data-stats" => "online"}
                %a{:href => "javascript:;"}
                  %img{:alt => "", :src => "/assets/tennant.png"}
                    %span David Tennant
              %li{"data-stats" => "online"}
                %a{:href => "javascript:;"}
                  %img{:alt => "", :src => "/assets/johansson.png"}
                    %span Anna Johansson
              %li{"data-stats" => "busy"}
                %a{:href => "javascript:;"}
                  %img{:alt => "", :src => "/assets/jackson.png"}
                    %span Eric Jackson
              %li{"data-stats" => "away"}
                %a{:href => "javascript:;"}
                  %img{:alt => "", :src => "/assets/jobs.png"}
                    %span Howard Jobs
              /
                li data-stats="offline"><a href="javascript:;"><img src="assets/demo/avatar/watson.png" alt=""><span>Annie Watson</span></a></li>
                <li data-stats="offline"><a href="javascript:;"><img src="assets/demo/avatar/doyle.png" alt=""><span>Alan Doyle</span></a></li>
                <li data-stats="offline"><a href="javascript:;"><img src="assets/demo/avatar/corbett.png" alt=""><span>Simon Corbett</span></a></li>
                <li data-stats="offline"><a href="javascript:;"><img src="assets/demo/avatar/paton.png" alt=""><span>Polly Paton</span></a></li
            %span.more
              %a{:href => "#"} See all
        .widget
          .widget-heading
            %a{"data-target" => "#taskbody", "data-toggle" => "collapse", :href => "javascript:;"}
              %h4
                Pending Tasks
                %small (5)
          #taskbody.widget-body.collapse.in
            .contextual-progress{:style => "margin-top:10px;"}
              .clearfix
                .progress-title Backend Development
                .progress-percentage
                  %span.label.label-info Today
                  25%
              .progress
                .progress-bar.progress-bar-info{:style => "width: 25%"}
            .contextual-progress
              .clearfix
                .progress-title Bug Fix
                .progress-percentage
                  %span.label.label-primary Tomorrow
                  17%
              .progress
                .progress-bar.progress-bar-primary{:style => "width: 17%"}
            .contextual-progress
              .clearfix
                .progress-title Javascript Code
                .progress-percentage 70%
              .progress
                .progress-bar.progress-bar-success{:style => "width: 70%"}
            .contextual-progress
              .clearfix
                .progress-title Preparing Documentation
                .progress-percentage 6%
              .progress
                .progress-bar.progress-bar-danger{:style => "width: 6%"}
            .contextual-progress
              .clearfix
                .progress-title App Development
                .progress-percentage 20%
              .progress
                .progress-bar.progress-bar-orange{:style => "width: 20%"}
            %span.more
              %a{:href => "ui-progressbars.htm"} View all Pending
        .widget
          .widget-heading
            %a{"data-target" => "#storagespace", "data-toggle" => "collapse", :href => "javascript:;"}
              %h4 Storage Space
          #storagespace.widget-body.collapse.in
            .clearfix{:style => "margin-bottom: 5px;margin-top:10px;"}
              .progress-title.pull-left 1.31 GB of 1.50 GB used
              .progress-percentage.pull-right 87.3%
            .progress
              .progress-bar.progress-bar-success{:style => "width: 50%"}
              .progress-bar.progress-bar-warning{:style => "width: 25%"}
              .progress-bar.progress-bar-danger{:style => "width: 12.3%"}
        .widget
          .widget-heading
            %a{"data-target" => "#serverstatus", "data-toggle" => "collapse", :href => "javascript:;"}
              %h4 Server Status
          #serverstatus.widget-body.collapse.in
            .clearfix{:style => "padding: 10px 24px;"}
              .pull-left
                #serverload.easypiechart{"data-percent" => "67"}
                  %span.percent
                %label{:for => "serverload"} Load
              .pull-right
                #ramusage.easypiechart{"data-percent" => "20.6"}
                  %span.percent
                %label{:for => "ramusage"} RAM: 422MB
    / END RIGHTBAR
    #page-content
      #wrap
        #page-heading
          %ol.breadcrumb
            %li
              %a{:href => "index.htm"} Dashboard
            %li.active Gallery
          %h1 Simple Gallery
          .options
            .btn-toolbar
              .btn-group.hidden-xs
                %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-cloud-download
                  %span.hidden-sm Export as
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Text File (*.txt)
                  %li
                    %a{:href => "#"} Excel File (*.xlsx)
                  %li
                    %a{:href => "#"} PDF File (*.pdf)
              %a.btn.btn-default{:href => "#"}
                %i.fa.fa-cog
        .container
          .row
            .col-lg-12
              .panel.panel-danger
                .panel-heading
                  %h4 Gallery
                .panel-body
                  .row
                    .col-md-12
                      %p Avant comes bundled with easy to use, light weight, CSS3 fliter and sort plugin. It provides beautiful animated filtering and sorting of categorized and ordered content. It plays nice with your existing HTML and CSS, making it a great choice for fluid, responsive layouts.
                  .row
                    .col-md-3
                      .form-group.clearfix
                        %select#galleryfilter.form-control.pull-left
                          %option{"data-filter" => "all"} Show All
                          %option{"data-filter" => "industrial"} Industrial
                          %option{"data-filter" => "architecture"} Architecture
                          %option{"data-filter" => "nature"} Nature
                          %option{"data-filter" => "architecture industrial"} Architecture &amp; Industrial
                    .col-md-9
                      .pull-right
                        .btn-toolbar.form-group.clearfix
                          %button.btn.btn-default.sort{"data-sort" => "random"}
                            %i.fa.fa-random
                            %span.hidden-xs Randomize
                          .btn-group
                            %button.btn.btn-default.sort.active{"data-order" => "desc", "data-sort" => "default"} Default
                            %button.btn.btn-default.sort{"data-order" => "desc", "data-sort" => "data-name"}
                              %i.fa.fa-sort-alpha-asc
                              %span.hidden-xs Name
                            %button.btn.btn-default.sort{"data-order" => "asc", "data-sort" => "data-name"}
                              %i.fa.fa-sort-alpha-desc
                              %span.hidden-xs Name
                          .btn-group
                            %button#GoGrid.btn.btn-default.active
                              %i.fa.fa-th
                            %button#GoList.btn.btn-default
                              %i.fa.fa-th-list
                  %hr{:style => "margin-top:0; margin-bottom:10px;"}
                    .row
                      .col-md-12
                        %ul.gallery.list-unstyled
                          %li.mix.industrial{"data-name" => "Rusty"}
                            %a{:href => "/assets/ind_rusty.jpg"}
                              %img{:src => "/assets/thmb_ind_rusty.jpg"}/
                            %h4 Rusty
                          %li.mix.nature{"data-name" => "Enchanted Creek"}
                            %a{:href => "/assets/nature_enchantedcreek.jpg"}
                              %img{:src => "/assets/thmb_nature_enchantedcreek.jpg"}/
                            %h4 Enchanted Creek
                          %li.mix.architecture{"data-name" => "Building"}
                            %a{:href => "/assets/arch_building.jpg"}
                              %img{:src => "/assets/thmb_arch_building.jpg"}/
                            %h4 Building
                          %li.mix.nature{"data-name" => "Mill"}
                            %a{:href => "/assets/demo/images/nature_mill.jpg"}
                              %img{:src => "/assets/thmb_nature_mill.jpg"}/
                            %h4 Mill
                          %li.mix.industrial{"data-name" => "Machiery"}
                            %a{:href => "/assets/ind_machinery.jpg"}
                              %img{:src => "/assets/thmb_ind_machinery.jpg"}/
                            %h4 Machiery
                          %li.mix.architecture{"data-name" => "Fire Escape"}
                            %a{:href => "/assets/arch_fireescape.jpg"}
                              %img{:src => "/assets/thmb_arch_fireescape.jpg"}/
                            %h4 Fire Escape
                          %li.mix.nature{"data-name" => "Mossy Tree"}
                            %a{:href => "/assets/nature_mossytree.jpg"}
                              %img{:src => "/assets/thmb_nature_mossytree.jpg"}/
                            %h4 Mossy Tree
                          %li.mix.industrial{"data-name" => "Demolition"}
                            %a{:href => "/assets/ind_demolition.jpg"}
                              %img{:src => "/assets/thmb_ind_demolition.jpg"}/
                            %h4 Demolition
                          %li.mix.architecture{"data-name" => "Fountain"}
                            %a{:href => "/assets/arch_fountain.jpg"}
                              %img{:src => "/assets/thmb_arch_fountain.jpg"}/
                            %h4 Fountain
                          %li.mix.nature{"data-name" => "Rider"}
                            %a{:href => "/assets/nature_rider.jpg"}
                              %img{:alt => "", :src => "/assets/thmb_nature_rider.jpg"}/
                            %h4 Rider
                          %li.mix.nature{"data-name" => "River"}
                            %a{:href => "/assets/nature_river.jpg"}
                              %img{:src => "/assets/thmb_nature_river.jpg"}/
                            %h4 River
                          %li.mix.industrial{"data-name" => "Corrosion Hazard"}
                            %a{:href => "/assets/ind_corrosion_hazard.jpg"}
                              %img{:src => "/assets/thmb_ind_corrosion_hazard.jpg"}/
                            %h4 Corrosion Hazard
                          %li.mix.nature{"data-name" => "Gardens"}
                            %a{:href => "/assets/nature_gardens.jpg"}
                              %img{:src => "/assets/thmb_nature_gardens.jpg"}/
                            %h4 Gardens
                          %li.mix.industrial{"data-name" => "Code"}
                            %a{:href => "/assets/ind_code.jpg"}
                              %img{:src => "/assets/thmb_ind_code.jpg"}/
                            %h4 Code
                          %li.mix.nature{"data-name" => "Trees"}
                            %a{:href => "/assets/nature_trees.jpg"}
                              %img{:src => "/assets/thmb_nature_trees.jpg"}/
                            %h4 Trees
                          %li.mix.nature{"data-name" => "Woodstump"}
                            %a{:href => "/assets/nature_woodstump.jpg"}
                              %img{:alt => "", :src => "/assets/thmb_nature_woodstump.jpg"}/
                            %h4 Woodstump
                          %li.gap
    / "gap" elements fill in the gaps in justified grid
    / col-lg-12
    / row
    / container
    / wrap
    / page-content
    #gallarymodal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h3.modal-title Heading
          .modal-body
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"} Close
    %footer{:role => "contentinfo"}
      .clearfix
        %ul.list-unstyled.list-inline.pull-left
          %li AVANT &copy; 2015
        %button#back-to-top.pull-right.btn.btn-inverse-alt.btn-xs.hidden-print
          %i.fa.fa-arrow-up
