<br>
<br>
<br>

<p>
  <strong>School Name:</strong>
  <%= @school.SchoolName %>
</p>

<p>
  <strong>School Location:</strong>
  <%= @school.School_Location %>
</p>

<p>
  <strong>Student Capacity</strong>
  <%= @school.Student_Capacity %>
</p>

<p>
  <strong>Email Id</strong>
  <%= @school.Email_Id %>
</p>
