-#%footer
-#  .container
-#    .row
-#      .col-md-13
-#        %ul.list-inline.quicklinks
-#          %li
-#            %a{:href => "#"} Careers
-#          %li
-#            %a{:href => "#"} Devlopers
-#          %li
-#            %a{:href => "#"} Terms & Privacy
-#          %li
-#            %a{:href => "#"} Policies
-#          %li
-#            %a{:href => "#"} Copyright
-#          %li
-#            %a{:href => "#"} Mobile
-#          %li
-#            %a{:href => "#"} Blog
-#          %li
-#            %a{:href => "#"} Pricing
-#          %li
-#            %a{:href => "#"} Business
-#          %li
-#            %a{:href => "#"} About
-#          %li
-#            %a{:href => "#"} invite friends
-#          %li
-#            %a{:href => "#"} Press
-#          %li
-#            %a{:href => "#"} Language
-#    .row
-#  %ul.list-inline.social-buttons
-#    %li
-#      %a{:href => "#"}
-#      =image_tag("/assests/larrybird-2.jpg")
-#    %li
-#      %a{:href => "#"}
-#      =image_tag("/assests/larrybird-2.jpg")
-#    %li
-#      %a{:href => "#"}
-#        =image_tag("/assests/larrybird-2.jpg")
-#    %li
-#      %a{:href => "#"}
-#        =image_tag("/assests/larrybird-2.jpg")
